<a href="https://colab.research.google.com/github/remyaP12/Remya_kid/blob/Remya_kidd/Automobile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [7]:
import pandas as pd

# Load the data from the CSV file
df = pd.read_csv("Automobile.csv")

# Clean and Update the data:
# Remove rows with missing values in critical columns
df = df.dropna(subset=['name','mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin'])


# Use .loc to ensure proper assignment and avoid the SettingWithCopyWarning
df.loc[:, 'year'] = df['model_year'].astype(int)
df.loc[:, 'cylinders'] = df['cylinders'].astype(int)
df.loc[:, 'displacement'] = pd.to_numeric(df['displacement'], errors='coerce')
df.loc[:, 'mpg'] = pd.to_numeric(df['mpg'], errors='coerce')
df.loc[:, 'horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df.loc[:, 'weight'] = pd.to_numeric(df['weight'], errors='coerce')
df.loc[:, 'acceleration'] = pd.to_numeric(df['acceleration'], errors='coerce')

# Drop rows with NaN values after the conversion to ensure clean data
df = df.dropna()

# Save the cleaned data back to a new CSV file
df.to_csv("cleaned_auto.csv", index=False)

# Display the cleaned data (Optional)
print(df.head())

                        name   mpg  cylinders  displacement  horsepower  \
0  chevrolet chevelle malibu  18.0          8         307.0       130.0
1          buick skylark 320  15.0          8         350.0       165.0
2         plymouth satellite  18.0          8         318.0       150.0
3              amc rebel sst  16.0          8         304.0       150.0
4                ford torino  17.0          8         302.0       140.0

   weight  acceleration  model_year origin  year
0    3504          12.0          70    usa    70
1    3693          11.5          70    usa    70
2    3436          11.0          70    usa    70
3    3433          12.0          70    usa    70
4    3449          10.5          70    usa    70

In [8]:
# Print total cars of all companies
car_counts = df['name'].value_counts()
print("\nTotal cars by company:")
print(car_counts)

# Find the average mileage of all companies
average_mileage = df.groupby('name')['mpg'].mean()
print("\nAverage mileage of all companies:")
print(average_mileage)

Total cars by company:
name
amc matador            5
ford pinto             5
toyota corolla         5
toyota corona          4
amc hornet             4
                      ..
buick skyhawk          1
chevrolet monza 2+2    1
ford mustang ii        1
pontiac astro          1
chevy s-10             1
Name: count, Length: 301, dtype: int64

Average mileage of all companies:
name
amc ambassador brougham    13.00
amc ambassador dpl         15.00
amc ambassador sst         17.00
amc concord                21.85
amc concord d/l            18.10
                           ...
vw dasher (diesel)         43.40
vw pickup                  44.00
vw rabbit                  35.25
vw rabbit c (diesel)       44.30
vw rabbit custom           31.90
Name: mpg, Length: 301, dtype: float64